//
// HEADER
// ======
//

.header
  // margin-top $spacing--default
  border-top 1px solid $color--light-grey
  border-bottom 1px solid $color--light-grey
  margin-bottom $spacing--default
  padding-top rem(5)
  padding-bottom rem(5)

  +width-min($mq--tablet)
    margin-bottom $spacing--default * 2

.header__inner
  display flex
  justify-content space-between
  align-items center
