//
// SWATCH
// ======
//

.swatch
  position relative
  padding-top 8em
  text-align left

.swatch__caption
  background-color $color--white
  padding 0.5em 0.75em
  border 1px solid $color--grey
  border-top-width 0

.swatch__title
  font-weight bold
