//
// DATEPICKER
// ==========
//


.datepicker
  position relative
  display block

  .control--text
    padding-left rem(50)

.datepicker__icon
  position absolute
  top 50%
  left $spacing--default * 0.5
  transform translateY(-50%)
  line-height 17px
  pointer-events none

  .icon
    line-height 1
