.card
  border 1px solid $color--grey
  border-radius $border-radius--default

.card--centered
  text-align center

.card__hero
  //

.card__image
  border-top-left-radius calc($border-radius--default - 1px)
  border-top-right-radius calc($border-radius--default -1px)

.card__content
  padding $spacing--default

  > * + *
    margin-top $spacing--default
