//
// BUTTON
// ======
//


//
// BASE STYLES
// Base styles to persuade `<a>`, `<button>` and `<input>` elements to look the
// same as each other, across various browsers.
//

.button
  display inline-block
  border 0
  vertical-align middle
  cursor pointer
  overflow visible // removes padding in IE

  // Presentational Styles
  padding 0.5em 1em
  line-height 1.2
  font-size 1em
  font-family inherit
  text-align center
  text-decoration none
  color $color--white
  background-color $color--primary

  &:focus
  &:hover
    text-decoration none
    color $color--white
    background-color tint($color--primary, 10%)
    outline 0

  &:active
    background-color tint($color--primary, 20%)


//
// BUTTON MODIFIERS
// Remember to add button variation modifier examples to the style guide page.
//

.button--inverse
  color $color--primary
  background-color $color--white

  &:focus
  &:hover
    color $color--primary
    background-color tint($color--primary, 90%)

  &:active
    background-color tint($color--primary, 80%)


//
// DISABLED BUTTON
//

.button[disabled]
.button.is-disabled
  opacity 0.75
  user-select none
  pointer-events none


//
// BLOCK BUTTON
//

.button--block
  display block
  width 100%
