//
// COLOUR SETTINGS
// ===============
//

$color--pink   = #eb4b5c // .50mm
$color--orange = #ec765c // .60mm
$color--yellow = #e8d135 // .73mm
$color--green  = #57a65e // .88mm
$color--blue   = #4f86a9 // 1.0mm
$color--purple = #9c5386 // 1.14mm

$color--black = #444
$color--white = #fff

$color--dark-grey = #666
$color--grey = #c8c8c8
$color--mid-grey = #9b9b9b
$color--light-grey = #dbdbdb

$color--primary = $color--green

// State Colours
$color--success = #47a967
$color--notice  = #4791a9
$color--warning = #dc7f2a
$color--error   = #ca4427
