//
// CUSTOM SELECT
// =============
// Quick CSS only custom select styling
// Taken from: https://github.com/filamentgroup/select-css
//


// Container used for styling the custom select, the button class below adds the bg gradient, corners, etc.
.custom-select
  position relative
  display block
  padding 0
  border 1px solid $color--grey
  border-radius $base--border-radius

  &.custom-select--error
    border-color $color--error

  // This is the native select, we're making everything but the text invisible so we can see the button styles in the wrapper
  select
    appearance none
    -webkit-appearance none
    border 0
    height 44px
    transition box-shadow 0.4s ease-out

    .custom-select--error &
      color $color--error
      background-color tint($color--error, 90%)

    &:hover
      box-shadow 0 0 0 1px $color--black
      transition-duration 0.1s

      .custom-select--error &
        box-shadow 0 0 0 1px $color--error

    &:focus
    &:active
      box-shadow 0 0 0 1px $color--primary
      transition-duration 0.1s

      .custom-select--error &
        box-shadow 0 0 0 1px $color--error

  &:before
    content ''
    position absolute
    top 2px
    bottom 2px
    right 2px
    width 50px
    padding 12px 15px 12px 25px
    background $color--white
    background linear-gradient(to right, rgba($color--white, 0), $color--white 40%)
    pointer-events none

    .custom-select--error&
      background linear-gradient(to right, rgba(tint($color--error, 90%), 0), tint($color--error, 90%) 40%)

  // Custom arrow sits on top of the select
  &:after
    triangle(down, 8px, $color--grey)
    content ''
    position absolute
    top 50%
    right 1em
    margin-top -3px
    z-index 2
    // This hack make the select behind the arrow clickable in some browsers
    pointer-events none

    .custom-select--error&
      border-top-color $color--error


// ------------------------------------
// START OF UGLY BROWSER-SPECIFIC HACKS
// ----------------------------------

// IE9 - Use Modernizr class to hide custom arrow in IE9
.no-csstransitions
  .custom-select:before
  .custom-select:after
    content none

// OPERA - Pre-Blink nix the custom arrow, go with a native select button to keep it simple. Targeted via this hack http://browserhacks.com/#hack-a3f166304aafed524566bc6814e1d5c7
x:-o-prefocus, .custom-select::after //@stylint ignore
  display none

// IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance, IE 9 and earlier get a native select - targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting
// The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box
@media screen and (-ms-high-contrast active), (-ms-high-contrast none)
  .custom-select select::-ms-expand
    display none
  .custom-select select:focus::-ms-value
    background transparent
    color $color--black

// FIREFOX won't let us hide the native select arrow, so we have to make it wider than needed and clip it via overflow on the parent container. The percentage width is a fallback since FF 4+ supports calc() so we can just add a fixed amount of extra width to push the native arrow out of view. We're applying this hack across all FF versions because all the previous hacks were too fragile and complex. You might want to consider not using this hack and using the native select arrow in FF. Note this makes the menus wider than the select button because they display at the specified width and aren't clipped. Targeting hack via http://browserhacks.com/#hack-758bff81c5c32351b02e10480b5ed48e
// Show only the native arrow
@-moz-document url-prefix()
  .custom-select
    overflow hidden
  .custom-select select
    width 120%
    width -moz-calc(100% + 3em)
    width calc(100% + em)
    &:focus
      box-shadow none !important //@stylint ignore

// Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring
.custom-select select:-moz-focusring
  color transparent
  text-shadow 0 0 0 $color--black

//IE 8
+ie(8)
  .custom-select
    &:before
    &:after
      visibility hidden
