//
// NOTIFICATION
// ============
//


//
// BASE STYLES
//

.notification
  position relative
  padding $base--spacing
  background $color--grey
  border 1px solid shade($color--grey, 10%)
  color $base--font-color

.notification__heading
  font-size rem(20)
  line-height 1.2
  font-weight normal

.notification__content

  > * + *
    margin-top rem(10)

  a
    text-decoration underline
    color shade($color--grey, 80%)
    &:hover
    &:focus
      color shade($color--grey, 50%)

.notification__action
  float right
  position relative
  top $base--spacing * -0.25
  right $base--spacing * -0.5
  padding $base--spacing * 0.5
  opacity 0.5

  &:hover
  &:focus
  &:active
    opacity 1

  .icon
  svg
    vertical-align top
    line-height 14px

  path
    fill $base--font-color


//
// STATE MODIFIERS
//

.notification--notice
  background tint($color--notice, 70%)
  border-color tint($color--notice, 50%)
  color shade($color--notice, 70%)

  .notification__content
    a
      color shade($color--notice, 80%)
      &:hover
      &:focus
        color shade($color--notice, 50%)

  .notification__action
    path
      fill shade($color--notice, 80%)

.notification--warning
  background tint($color--warning, 70%)
  border-color tint($color--warning, 50%)
  color shade($color--warning, 70%)

  .notification__content
    a
      color shade($color--warning, 80%)
      &:hover
      &:focus
        color shade($color--warning, 50%)

  .notification__action
    path
      fill shade($color--warning, 80%)

.notification--error
  background tint($color--error, 70%)
  border-color tint($color--error, 50%)
  color shade($color--error, 70%)

  .notification__content
    a
      color shade($color--error, 80%)
      &:hover
      &:focus
        color shade($color--error, 50%)

  .notification__action
    path
      fill shade($color--error, 80%)

.notification--success
  background tint($color--success, 70%)
  border-color tint($color--success, 50%)
  color shade($color--success, 70%)

  .notification__content
    a
      color shade($color--success, 80%)
      &:hover
      &:focus
        color shade($color--success, 50%)

  .notification__action
    path
      fill shade($color--success, 80%)
