//
// CONTENT CENTER
// ==============
//

.content-center
  clearfix()
  margin-left auto
  margin-right auto
  width 100%
  max-width $mq--resize-max

// .content-center--6-12
//   max-width col-span-width(6)
