//
// SPACED GROUP
// ============
//

$spaced-group--spacing = $spacing--default * 0.5

.spaced-group
  margin $spaced-group--spacing * -1

.spaced-group__item
  display inline-block
  padding $spaced-group--spacing
