//
// META ICONS
// ==========
// A visual representation of meta icons and associated information.
// Uses real data taken from meta elements in the document head.
//


.sg-meta-icon
  text-align center
  margin-bottom $spacing--default
  padding $spacing--default
  background-color shade($color--white, 10%)
  height 100%

.sg-meta-icon__title
  font-weight bold

.sg-meta-icon--retina
  display inline-block
  img
    width 50%
    transition transform 0.3s ease

    &:hover
      cursor zoom-in
      transform scale(2)

.sg-meta-icon--retina-hd
  display inline-block
  img
    width 33.333%
    transition transform 0.3s ease

    &:hover
      cursor zoom-in
      transform scale(3)


.sg-meta-icon--favicon
  display inline-block

.sg-meta-icon--ios
  img
    border-radius 17.544%

.sg-meta-icon--ms-tile
  display inline-block
  width 120px
  height 120px
  img
    width 64px
    height 64px
    margin-top 15px
    margin-bottom 20px
  .sg-meta-icon__text
    text-align left
    padding 0 15px

  &.is-dark
    .sg-meta-icon__text
      color $color--white

.sg-meta-icon__text
  color $color--black
  font-size rem(12)
  font-family Arial, Helvetica, sans-serif
  margin-bottom 0
  ellipsis()
