//
// NOTIFICATION
// ============
//

$note--border-radius = $border-radius--default
$note--accent-border-width = max(4px, $note--border-radius)


//
// BASE STYLES
//

.note
  color $color--black
  border-left $note--accent-border-width $color--primary solid
  border-top-left-radius $border-radius--default
  border-bottom-left-radius $border-radius--default

.note__content
  padding ($spacing--default * 0.5) $spacing--default
  border 1px solid $color--grey
  border-left-width 0
  border-top-right-radius $border-radius--default
  border-bottom-right-radius $border-radius--default

.note__heading
  font-size rem(20)
  line-height 1.2
  font-weight normal


//
// STATE MODIFIERS
//

.note--notice
  border-left-color $color--notice

.note--warning
  border-left-color $color--warning

.note--success
  border-left-color $color--success

.note--error
  border-left-color $color--error
