.example
  overflow hidden
  border 1px solid $color--grey
  border-radius $border-radius--default

.example__preview
  position relative
  padding $spacing--default
  margin-left auto
  margin-right auto
  text-align center

.example__preview-item
  padding $spacing--default * 0.5
  display inline-block
  text-align left
  vertical-align top

.example__preview-item--auto
  width auto

.example__source
  .example__preview + &
    border-top 1px solid $color--grey

.example__source-toggle
  position absolute
  bottom 0
  right 0
  background-color $color--primary
  border 0
  width 40px
  height 30px
  color $color--white
  font-size rem(16)
  border-top-left-radius $border-radius--default
  font-smoothing()

  &:before
    content '{…}'
    display block

  &:focus
    outline 0
