//
// NAVIGATION
// ==========
//


.navigation
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  position sticky
  top $spacing--default
  margin-bottom $spacing--default

.navigation__group
  //

  h3
    font-weight bold

  li
    display block

    li
      margin-left 20px

    ul
      // TODO: Better a11y hiding method
      display none

    a.is-active + ul
      display block



.navigation__link
  color $color--black

  &.is-active
    color $color--primary
    text-decoration none

  &:hover
  &:active
  &:focus
    color $color--primary
    text-decoration underline
